{
  "AllowPostmanOauth2RedirectUrl": false,
  "Certificate": {
    "LoadCertificate": true
  },
  "Attendance": {
    "ScanAllowedBeforeClassStart": 15,
    "ScanAllowedAfterClassStart": 15
  },
  "ApiKey": "dwqGta2VjLFSithQO9o5Js9JaffeAjn1x7X2xNrnHoIWyYkE5J",
  "SMTP": {
    "Host": "smtp.gmail.com",
    "Port": 587,
    "EmailAddress": "grip.services.live@gmail.com",
    "EmailPassword": "lkhhwavypkebyyzv"
  },
  "ConnectionStrings": {
    "DatabaseConnection": "Server=localhost;Port=5432;Database=grip;User Id=<username>;Password=<password>;"
  },
  "Logging": {
      "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
      }
    },
  "IdentityServer": {
    "Clients": {
      "Server": {
        "Profile": "IdentityServerSPA"
      }
    }
  },
  "UseSwagger": false,
  "AllowedHosts": "*",
  "Station": {
    "ApiKey": "9aaa84a2-c45e-46ec-b495-a9696ec2830a",
    "CreateDbEntryOnKeyRequest": true
  }
}
